.admin .topbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
}

.inner-wrapper {
    width: 100%;
    height: fit-content;
    max-width: 1100px;
    margin: auto;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #0020b1;
}

.titlebar a:hover {
    text-decoration: underline;
    text-decoration-color: #0020b1;
    transition: all .2s ;
}

.titlebar > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebar .logo-container {
    width: fit-content
}

.titlebar img {
    width: 85px;
    height: 60px;
}

.titlebar > div:last-child a{
    margin-right: 10px;
}

.menubar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menubar menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
}

.admin .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    color: inherit;
    transition: color .3s;
}

.admin .menu-item svg {
    font-size: 27px!important;
}

.admin .menu-item span {
    font-size: 14px!important;
}

.admin .menu-item:hover {
    color: rgb(17, 17, 17);
}

.admin .menu-item.active {
    color: rgb(17, 17, 17);
    padding: 7px 11px;
}
.admin .menu-item.active span {
    font-weight: 600;
}